.video-box {
     margin: 0;
     padding: 0;
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 999;
     background-color: var(--pink);
     .alert-text {
          margin: 0;
     }

     .close-btn {
          margin-top: var(--dashboard_navHeight);
     }

     img {
          position: absolute !important;
     }
     .btn-div {
          position: absolute;
          display: flex;
          justify-content: center;
          svg {
               font-size: 3.5em;
          }
     }
     .alert-text {
          z-index: 9;
     }
}

canvas {
     position: absolute;
     display: none;
}

.video-box {
     width: 100vw;
     height: 100vh;
     background: #fff;
     position: absolute;
     z-index: 999;
     top: 0;
     left: 0;
     display: flex;
     align-items: center;
     justify-content: center;
}
