.video-box {
     margin: 0;
     padding: 0;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 999;
     background-color: var(--light-grey);

     img {
          // border: 3px solid orchid;
          position: absolute;
     }

     .btn-div {
          transform: scale(3.5);
          z-index: 999;
          position: absolute;
          top: 50%;
          left: 50%;
          // transform: translate(-50%, -50%) scale(3.5);
          svg {
               margin: 0.15em;
          }
     }
}

canvas {
     position: absolute;
     // width: 500px;
     // height: 500px;
     // border: tomato 3px solid
}

.img-wrapper {
     img {
          width: 100%;
     }
}

.camera-loader-div {
     display: flex;
     flex-direction: column;
     /* background-color: palegoldenrod; */
     position: absolute;
     width: 100vw;
     height: 100vh;
     font-size: 12em;
     align-items: center;
     justify-content: center;
     div {
          // background-color: orchid;
     }
     .BiCamera {
          // animation: appear .5 infinite;
          fill: var(--pink);
          margin-bottom: 0;
     }
}

.lds-ellipsis {
     display: inline-block;
     position: relative;
     // width: 5%;
     width: 80px;
     height: 80px;
}
.lds-ellipsis div {
     position: absolute;
     // top: 33px;
     width: 13px;
     height: 13px;
     border-radius: 50%;
     background: var(--pink);
     animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
     left: 8px;
     animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
     left: 8px;
     animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
     left: 32px;
     animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
     left: 56px;
     animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
     0% {
          transform: scale(0);
     }
     100% {
          transform: scale(1);
     }
}
@keyframes lds-ellipsis3 {
     0% {
          transform: scale(1);
     }
     100% {
          transform: scale(0);
     }
}
@keyframes lds-ellipsis2 {
     0% {
          transform: translate(0, 0);
     }
     100% {
          transform: translate(24px, 0);
     }
}
