nav {
     height: var(--dashboard_navHeight);
     display: flex;
     align-items: center;
     box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
     z-index: 999;
     background: #fff;
     position: fixed;
     width: 100%;
     top: 0;
     svg {
          font-size: 28px;
          fill: var(--dark-grey);
          width: 28px;
     }
     & + *[id] {
          margin-top: calc(var(--dashboard_navHeight) + 1em);
          min-height: calc(100vh - var(--dashboard_navHeight) - 1em);
     }
}
