nav {
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    z-index: 999;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    svg {
        font-size: 28px;
        fill: var(--dark-grey);
        width: 28px;
    }
}