#Punch {
    max-width: 900px;
    .btn-div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: .5em;
        input[type="submit"] {
            background: var(--m-grey);
            color: var(--light-grey);
            box-sizing: border-box;
            &:hover {
                border-color: transparent;
            }
        }
    }

    #File_model {

        // grid-template-rows: 1.2fr 1fr;
        // grid-template-columns: none;
    }
    .img-wrapper {
        .BiCamera {
            transform: translate(-50%, -50%) scale(9);
        }
    }
    .info-div {
        display: none;
    }
    .time {
        font-size: 3em;
        color: var(--dark-grey)
    }
}

