#Punch {
     .video-frame {
          position: relative;
          canvas {
               top: 1.5vw;
               left: 1.5vw;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               // border: 1em solid navy;
          }
          .alert-text {
               position: absolute;
               z-index: 999;
          }
     }
     .camera-loader-div {
          top: 0;
          left: 0;
          z-index: 999;
          svg {
               fill: var(--blue)
          }
          .lds-ellipsis div  {
               background-color: var(--blue);
          }
     }
     .play-btn {
          font-size: 2em;
          text-transform: uppercase;
          border-color: var(--blue);
          background-color: var(--blue);
          padding: .25em 1.5em;
          border-radius: 5px;
     }
}

@media screen and (orientation: portrait) {
}
@media screen and (orientation: landscape) {
}
