#Home {
     width: 100vw;
     height: 100vh;
     display: grid;
     grid-template-rows: 5em auto 5em;
     * {
          box-sizing: border-box;
     }
     .top,
     .bottom {
          display: flex;
          align-items: center;
          padding: 0 2.5em;
     }
     .bottom {
          justify-content: center;
     }
     a {
          padding: 1em 1.5em;
          border-radius: 50px;
          border: none;
          background: #fff;
          font-size: 1.2em;
          color: var(--dark-grey);
          cursor: pointer;
          &:hover {
               color: #000;
          }
     }
     .main {
          // display: grid;
          display: flex;
          // grid-template-columns: repeat(1fr);
          // grid-template-columns: repeat(auto-fit, minMax(600px, 1fr));
          & > div {
               width: 100%;
               height: 100%;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               // padding: 5em;
          }
          .dashboard {
               background: var(--pink);
               // background-image: linear-gradient(#fff, var(--pink) 95%);
               // background-image: linear-gradient(red, yellow 10%, green 20%);
          }
          .clockIn {
               background: var(--blue);
          }
     }
}

@media all and (orientation: portrait) {
     #Landing {
          .main {
               flex-direction: column;
          }
     }
}

@media all and (orientation: landscape) {
     #Landing {
          .main {
               grid-template-columns: repeat(1fr);
          }
     }
}
