nav {
     box-shadow: var(--box-shadow);
     height: 100vh;
     padding: 1.5em 0;
     flex-shrink: 0;
     z-index: 99;
     background: #fff;
     .link-div {
          display: flex;
          flex-direction: column;
          height: 100%;
     }
     svg {
          fill: var(--dark-grey);
          font-size: var(--icon-size);
     }
     .user-icon {
          margin-top: auto;
     }
     h2 {
          margin: 0 0 0 .5em;
          color: var(--dark-grey);
          text-transform: capitalize;
          display: none;
     }
     .link-div > a, .pin-icon {
          padding: .5rem;
          div {
               display: flex;
               align-items: center;
          }
          &:hover {
               background-color: var(--pink);
               transition: all .2s;
               filter: grayscale(0%) opacity(1)
          }
     }
     .pin-icon {
          margin: .5rem;
          padding: 0;
     }

     &:hover, &:active {
          h2 {
               display: block;
          }
     }
}

.hamburger {
     display: none;
     span {
          width: 100%;
          height: 5px;
          background-color: var(--dark-grey);
     }
}

.nav-active {
     svg {
          fill: var(--black);
     }
     h2 {
          color: var(--black);
     }
}

.pin {
     .pin-icon {
          fill: var(--black);
          transform: rotate(-90deg);
     }
     h2 {
          display: block !important;
     }
}

