nav {
     box-shadow: var(--box-shadow);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 100vh;
     padding: 1.5em 0;
     flex-shrink: 0;
     z-index: 99;
     background: #fff;
     // position: fixed;
     // background: #fff;
     svg {
          fill: var(--dark-grey);
     }
     h2 {
          margin: 0 0 0 .5em;
          color: var(--dark-grey);
          text-transform: capitalize;
          display: none;
          font-size: 15px;
     }
     .link-div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          & > * {
               // margin: .5em;
               padding: .5em;
               font-size: var(--icon-size);
          }
     }          
     .user-link, a {
          display: flex;
          align-items: center;
          // justify-content: center;
          width: 100%;
          filter: grayscale(100%) opacity(.5);
          // background-color: var(--pink);
          &:hover {
               background-color: var(--pink);
               transition: all .2s;
               
               filter: grayscale(0%) opacity(1)
          }
          // background: var(--pink)
          // &:hover h2, &:hover svg {
          //      color: var(--pink);
          //      fill: var(--pink)
          // }
     }
     &:hover, &:active {
          h2 {
               // width: calc(100% - 28px - .5em) !important;
               display: block;
          }
     }
}

.hamburger {
     display: none;
     span {
          width: 100%;
          height: 5px;
          background-color: var(--dark-grey);
          // margin: 6px 0; 
     }
}

.nav-active {
     svg {
          fill: var(--black);
     }
     h2 {
          color: var(--black);
     }
}

.pin-icon {
     padding: unset !important;
     margin: .5em;
}

.pin {
     .pin-icon {
          fill: var(--black);
     }
     h2 {
          display: block !important;
     }
}

