.Popup {
     display: flex;
     align-items: center;
     justify-content: center;
     .box {
          width: 350px;
          height: 350px;
          background: #fff;
          position: relative;
          padding: 45px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }
     .circle {
          position: absolute;
          top: calc(-45px);
          left: 50%;
          transform: translateX(-50%);
          width: 90px;
          height: 90px;
          background-color: var(--blue);
          border-radius: 50%;
          &:before {
               color: #fff;
               display: flex;
               align-items: center;
               justify-content: center;
               width: 100%;
               height: 100%;
               font-size: 2.5em;
          }
     }
     .check::before {
          content: "✔";
     }
     .exclamation:before {
          content: "\0021";
     }
     h1 {
          font-size: 2em;
     }
     .btn {
          background-color: var(--blue);
          color: #fff;
          padding: 0.35em 2.5em;
          text-transform: uppercase;
          border: none;
          font-size: 0.9em;
     }
     .btn-div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0.5em;
          * {
               width: 100%;
               padding-left: unset;
               padding-right: unset;
               &:hover {
                    color: #000;
               }
          }
          .cancel {
               background: var(--dark-grey);
          }
          .delete {
               background-color: var(--red);
          }
     }
}

.Popup.overlay {
     z-index: 999;
}

// .success-text {
//      color: green !important;
//      &:before {
//           content: "✔";
//      }
// }

// .alert-text {
//      color: var(--red) !important;
//      &::before {
//           content: "✖";
//      }
// }
