#Records {
    padding: 5vh;
    display: flex;
    background: var(--pink);
    .img-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        .personal-info {
            text-align: center;
            margin: 0 1em;
        }
    }
    .employee-img-wrapper {
        width: 9em;
        height: 9em;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: var(--box-shadow);
        img {
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .table {
        display: grid;
        background: #fff;
        box-shadow: var(--box-shadow);
        width: 100%;
    }
    .table-heading {
        box-shadow: var(--box-shadow);
        * {
            text-transform: capitalize;
        }
    }
    .table-body {
        overflow-y: scroll;
    }
    .table-row {
        padding: 0;
        display: flex;
        justify-content: space-around;
        border: none;
        label, input, p {
            text-align: center;
            height: 100%;
            background-color: transparent !important;
            margin: 0;
        }
        p, label {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: .5em;
        }
        input {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0 !important;
        }
        .btn-div {
            display: flex;
            padding: 0 1.5em;
            width: fit-content;
            align-items: center;
            svg {
                font-size: 1.2em;
            }
            svg:nth-of-type(1) {
                margin-right: .5em;
            }
            button {
                background: none;
                border: none;
            }
        }
    }
    input::-webkit-calendar-picker-indicator {
        display: none;
      }
    fieldset:not([disabled]) {
        background: var(--m-grey);
        input::-webkit-calendar-picker-indicator {
            display: block;
        }
    }
    #Record:nth-of-type(even) {
        background-color: var(--light-grey)
    }
}