#EachEmployee {
     display: flex;
     flex-direction: column;
     background: var(--pink);
     label {
          text-align: left;
     }
     .img-wrapper {
          padding-top: unset;
          height: 100%;
     }
     label[for*="_"],
     label[for*="image"] {
          display: none;
     }
     .top-div {
          display: flex;
          justify-content: end;
          svg {
               font-size: 1.5em;
               margin: 0 0.5em;
               fill: var(--dark-grey);
               &:hover {
                    fill: var(--pink);
                    transform: scale(1.2);
               }
          }
     }
     fieldset {
          border:none;
          svg {
               fill: var(--dark-grey);
          }
     }
     fieldset:disabled {
          * {
               background: transparent;
               border: none !important;
               &:hover {
                    color: unset !important;
               }
          }
          input[type="submit"] {
               display: none;
          }
     }     
}


#EachEmployee_form {
     svg {
          font-size: 1.2em;
          z-index: 9;
          path {
               color: var(--dark-grey);
          }
     }
     &:hover path,
     &:visited path,
     &:focus path {
          color: var(--blue);
     }
}

.small-icon {
     font-size: 3.5em !important;
     margin: 0 auto;
     top: calc(100% - 1em) !important;
}
