#EachEmployee {
     display: flex;
     flex-direction: column;
     background: var(--pink);
     label {
          text-align: left;
     }
     label[for*="_"],
     label[for*="image"] {
          display: none;
     }
     .top-div {
          display: flex;
          justify-content: end;
          svg {
               transform: scale(1.2);
               font-size: var(--icon-size);
               fill: var(--dark-grey);
               margin: .15rem;
               &:hover {
                    fill: var(--pink);
               }
          }
     }
     .img-wrapper {
          svg {
               fill: var(--dark-grey);
          }
     }
     fieldset:disabled {
          * {
               background: transparent;
               border: none !important;
               &:hover {
                    color: unset !important;
               }
          }
          input[type="submit"] {
               display: none;
          }
     }     
}

// classList
.small-icon {
     font-size: 3.5em !important;
     margin: 0 auto;
     top: calc(100% - 1em) !important;
}

.click-icon {
     fill: var(--pink)
}
