:root {
     --light-grey: #f9f9f9;
     --m-grey: #e0e0e0;
     --dark-grey: #909090;
     --blue:#dbe2e9;
     --pink:#e9dbe2;
     --red: #cc0000;
     --black: #010203;
     --m-width: "900px";
     --box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
     --box-shadow-bottom: 0 1px 10px rgb(32 33 36 / 28%);
     --dashboard_navHeight: 2.5em;
     --icon-size: 2rem;
}

html,
body {
     margin: 0;
     padding: 0;
}

a {
     text-decoration: none;
     color: unset;
     &:active {
          color: unset;
     }
}

// fieldset {
//      border: none;
// }

.App {
     display: flex;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     & > nav + [id] {
          text-align: center;
          width: 100%;
          margin: 0 auto;
          overflow-y: scroll;
          height: 100vh;
     }
}

* {
     font-size: 1em;
     font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
     color: var(--black);
     box-sizing: border-box;
}

h1 {
     text-transform: uppercase;
     color: var(--dark-grey);
}

::-webkit-scrollbar {
     width: .5rem;
}

::-webkit-scrollbar-track {
     background-color: var(--pink);
}

::-webkit-scrollbar-thumb {
     background: #cbaabb;
     border-radius: 50px;
}

// .img-wrapper {
//      width: 100%;
//      position: relative;
//      overflow: hidden;
//      border: 1px solid var(--light-grey);
//      padding-top: 90%;
//      img,
//      svg {
//           width: 100%;
//           position: absolute;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//      }
// }

// classList
.input-active-div {
     input {
          background: #fff !important;
          pointer-events: all !important;
     }
}

.red {
     fill: var(--red);
     color: var(--red);
}

.green {
     fill: green;
}

.center {
     display: flex;
     align-items: center;
     justify-content: center;
}

.scroll-y {
     overflow-y: scroll;
}

.overlay {
     position: fixed; /* Sit on top of the page content */
     width: 100%; /* Full width (cover the whole page) */
     height: 100%; /* Full height (cover the whole page) */
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
     z-index: 99; /* Specify a stack order in case you're using a different order for other elements */
}

.red-border {
     border: 1px solid var(--red);
}

img[alt*="logo"] {
     width: 30px;
     height: fit-content;
}

.card {
     display: flex;
     text-align: center;
     flex-direction: column;
     background: #fff;
     padding: 1.5vw;
     border-radius: 15px;
     box-shadow: var(--box-shadow);
     max-width: 900px;
     height: fit-content;
}

.close-btn {
     position: absolute;
     right: 32px;
     top: 32px;
     width: 32px;
     height: 32px;
     opacity: 0.3;
     &:hover {
          opacity: 1;
     }
     &:before,
     &:after {
          position: absolute;
          left: 15px;
          content: " ";
          height: 33px;
          width: 2px;
          background-color: #333;
     }
     &:before {
          transform: rotate(45deg);
     }
     &:after {
          transform: rotate(-45deg);
     }
}

.hero-text {
     font-size: 3.5vw;
     font-size: clamp( 2.5rem, 2.5vw, 3.5vw); 
}

input {
     border: 1px solid var(--dark-grey);
     background: var(--light-grey);
     &:disabled {
          background: var(--light-grey) !important;
          border: 1px solid var(--m-grey) !important;
     }     
}

.img-wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}


@media (orientation: portrait) {
     #Home {
          .main {
               flex-direction: column;
          }
     }   
           
     #Punch {
          flex-direction: column-reverse;
          .left-div {
               height: unset !important;
          }
          .right-div {
               height: 100%;
          }
          video {
               min-width: unset !important;
          }
     }
}

@media (max-width: 900px) {
     #CreateEmployee {
          align-items: unset;
          * {
               border-radius: unset;
          }
          .card {
               min-height: calc(100vh - var(--top-div-height));
          }
          .img-wrapper {
               background-color: var(--pink);
               img {
                    border: 5px solid var(--pink);
               }
               svg {
                    fill: var(--dark-grey);
               }
          }
     }
     #EachEmployee {
          justify-content: unset;
     }
}

@media (orientation: portrait), (max-width: 900px){
     .App {
          flex-direction: column;
          .card {
               width: 100%;
          }    
          nav {
               height: unset;
               padding: 0;
               .link-div {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
                    a {
                         height: 100%;
                         div {
                              height: 100%;
                              display: flex;
                              flex-direction: column;
                              text-align: center;
                              justify-content: space-between;
                         }
                    }
               }
               h2 {
                    display: block;
                    margin: 0;
               }
               svg {
                    background: var(--pink);
                    border-radius: 50px;
                    font-size: 3.5rem;
                    padding: .15em;
               }
               .pin-icon {
                    display: none;
               }
          }
          // fieldset {
          //      grid-template-columns: unset;
          //      grid-template-rows: 1fr 1fr;
          // }
          // form {
          //      grid-template-columns: unset;
          //      grid-template-rows: 1fr 1fr;
          // }
     }
}

@media (max-width: 710px), (orientation: portrait) {
     #AllEmployees {
          .top-div {
               .search-input {
                    max-width: unset !important;
               }
          }
     }

     video {
          height: 100% !important;
     }

     #CreateEmployee {
          .employeeForm {
               display: flex;
               flex-direction: column;
          }
     }

     #EmployeeProfile {
          * {
               box-shadow: unset;
          }
          .card {
               background: var(--pink);
               form {
                    display: flex;
                    flex-direction: column;
                    .img-wrapper, .info-div {
                         box-shadow: var(--box-shadow);
                         border-radius: 15px;                         
                    }
                    .info-div {
                         background: #fff;
                         padding: 1.5rem;
                    }                   
               }
               .top-div {
                    justify-content: center;
                    svg {
                         font-size: 3.1rem !important;
                    }                        
               }
               .BiImageAlt {
                    fill: var(--dark-grey);
               }
          }
          .click-icon {
               fill: var(--black) !important;
          }
     }
     .center {
          justify-content: unset;
     }
}

@media (max-width: 630px) {
     .App {
          &>[id] {
               margin-top: 5rem;
          }
          nav {
               padding: 1em;
               .hamburger, .link-div {
                    height: unset;
               }
               .link-div {
                    display: none;
                    padding: 1em;
                    a {
                         position: relative;
                         &:hover {
                              background-color: transparent !important;
                         }
                         > div {
                              position: absolute;
                              top: 0;
                              width: 120px;
                              height: 120px;
                              border-radius: 50%;
                              background: var(--pink);
                              display: flex;
                              flex-direction: column;
                              align-items: center;
                              justify-content: center;                              
                         }
                    }
                    a::before {
                         content: "";
                         padding-bottom: 100%;
                         display: block;
                    }
               } 
               .hamburger {
                    display: flex;
                    width: 3.5rem;
                    height: 3.5rem;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-left: auto;
               }     
               .pin-icon {
                    display: none !important;
               }    
               &.drop-down {
                    height: 100vh;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.59);
                    overflow-y: scroll;
                    .link-div {
                         display: grid !important;
                    }
               }      
          }
     }
}
